$main-bg-color: white;
$grey1: #050505;
$grey2: #29272B;
$grey3: #A29EA8;
$grey4: #D6D3DB;
$purple1: #2E0A6E;


.purple1 {
	color: $purple1;
}

.white {
	color: #ffffff;
}

.grey1{
	color: $grey1;
}

.grey2{
	color: $grey2;
}

.grey3{
	color: $grey3;
}

.grey4{
	color: $grey4;
}

.grey1{
	color: $grey1;
}